<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite TestNG x Selenium">
    <test name="Tugas Mingguan Week 2">
        <classes>
            <class name="com.belajartestng.CalculatorTest" />
            <class name="com.belajartestng.BMICalculatorTest"/>
        </classes>
    </test>
</suite>